.App {
  text-align: center;
  background-color: #121213;
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  color: white;
}

body {
  padding: 0%;
  margin: 0;
}

nav {
  height: 60px;
  width: 100%;
  margin: 0;
  border-bottom: 2px solid #3a3a3c;
  border-radius: 300px;
  display: grid;
  place-items: center;
}

nav h1 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 45px;
}

/* Calculates the dimencions of the site */
.site {
  width: 100vw;
  height: calc(100vh - 170px);
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

/* Styling for board as a whole  */
.board {
  width: 450px;
  height: 600px;
  border: 1px solid #121213;
  display: flex;
  flex-direction: column;
}

/* styling for row */
.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

/* Colour letter box and styling */
.letter {
  flex: 33%;
  height: 100%;
  border: 1.5px solid #3a3a3c;
  border-radius: 5px;
  margin: 5px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#button {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-right: 10px;
  display: inline-flex;
  background-color: #3a3a3c;
  border-color: #3a3a3c;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

/* Colour correct letter */
#correct {
  background-color: var(--colour-correct);

  /* #618b55; */
}

/* Colour partial letter */
#partial {
  background-color: var(--colour-partial);
}

/* Colour incorrect letter */
#incorrect {
  background-color: #3a393c;
}

/* Style keyboard area */
.keyboard {
  width: 700px;
  height: 300px;
  margin-top: 30px;
}

/* Sets styling for first row of keyboard */
.firstLine {
  flex: 33%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin: 2px;
}

/* Sets styling for second row of keyboard */
.secondLine {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2px;
}

/* Sets styling for third row of keyboard */
.thirdLine {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2px;
}

/* Sets the styling for the keys on virtual keyboard */
.key {
  width: 40px;
  height: 50px;
  margin: 4px;
  border-radius: 5px;
  display: grid;
  place-items: center;
  font-size: 17px;
  background-color: grey;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

/* Makes sure that function key is bigger than letters */
#functionKey {
  width: 100px;
}

/* The colour of the keys on keyboard that are no longer in the word to help user */
#disabled {
  background-color: #222222;
}

/* Styling for the end screen, just sets the font to match rest of game
and the styling to match the keyboard that is replaces so teh site doesnt move around */
.endScreen {
  font-family: Arial, Helvetica, sans-serif;
  width: 800px;
  height: 300px;
  margin-top: 30px;
}

#countdown {
  background-color: #3a3a3c;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

#secondEnd{
  font-size: 25px;
}

#fbook{
  margin-left: 10px;
}
